# Owners of this repo:
* @eskygroup/ets-fc

source/Esky.Providers.Dodo.Booking @eskygroup/pat @eskygroup/ant @eskygroup/ppsh @eskygroup/ets-fc
source/Esky.Providers.Dodo.Content @eskygroup/pat @eskygroup/ant @eskygroup/ppsh @eskygroup/ets-fc